@import "config";

body {
  background-color: $page-bg;
  width: 140 * 0.65vh;
  margin: 0 auto;
}

.app-body-wrapper {
  background-color: $content-bg;
  font-family: $font-text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-body {
  padding: 1vh 4vw;
  flex-grow: 1;
}

.head-spacer {
  margin: 0 0 0 0;
  height: 7vh;
}

.app-footer {
  font-family: $font-headings-alt;
  color: $page-bg;
  border-top: 1px solid $page-bg;
  padding: 2vh 1vw;

  p {
    margin: 0;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
