@import "config";

.piano-instructions {
  margin-top: 2vh;
  height: 15vh;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4px;

  h3 {
    color: $head;
    text-align: center;
    font-family: $font-headings-alt;
    font-size: 6.2vh;
    grid-column: 1 / span 6;
    grid-row: 2 / span 3;
    margin: 0;
    padding-bottom: 0;
  }

  h4 {
    color: $text;
    text-align: center;
    font-size: 3.3vh;
    grid-column: 1 / span 6;
    grid-row: 1 / span 2;
    margin: 0;
    padding-bottom: 0;
  }
}
