@import "config";

$key-lower-color: $piano-lower;
$key-lower-border: 3px solid $key-lower-color;
$key-upper-color: $piano-upper;
$key-upper-border: 3px solid $key-upper-color;
$key-border-rad: 5px;

.ui-button {
  cursor: pointer;
  border: 1px solid $text;
  background: $text;
  color: $content-bg;
  padding: 1vh;
  transition: 0.5s;

  &:hover {
    background: $content-bg;
    color: $text;
  }
}

.piano-keyboard {
  height: 45vh;
  padding: 1vh 0;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0 4px;
}

.piano-keys {
  transition: 0.5s;

  &:hover {
    background-color: $piano-hover;
    border: $piano-hover;
  }
}
// style for lower/white/whole keys
%key-lower {
  cursor: pointer;
  z-index: 0;
  grid-row: 1 / span 3;
  background: $key-lower-color;
  border: $key-lower-border;
  border-radius: $key-border-rad;
  border-top-width: 0;
}
// style for upper/black/half keys
%key-upper {
  cursor: pointer;
  z-index: 1;
  grid-row: 1 / span 2;
  background: $key-upper-color;
  border: $key-upper-border;
  border-radius: $key-border-rad;
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
// placing lower/white/whole keys
[id="C4"] {
  @extend %key-lower;
  grid-column: 1 / span 2;
}
[id="D4"] {
  @extend %key-lower;
  grid-column: 3 / span 2;
}
[id="E4"] {
  @extend %key-lower;
  grid-column: 5 / span 2;
}
[id="F4"] {
  @extend %key-lower;
  grid-column: 7 / span 2;
}
[id="G4"] {
  @extend %key-lower;
  grid-column: 9 / span 2;
}
[id="A4"] {
  @extend %key-lower;
  grid-column: 11 / span 2;
}
[id="B4"] {
  @extend %key-lower;
  grid-column: 13 / span 2;
}
[id="C5"] {
  @extend %key-lower;
  grid-column: 15 / span 2;
}
[id="D5"] {
  @extend %key-lower;
  grid-column: 17 / span 2;
}
[id="E5"] {
  @extend %key-lower;
  grid-column: 19 / span 2;
}
[id="F5"] {
  @extend %key-lower;
  grid-column: 21 / span 2;
}
[id="G5"] {
  @extend %key-lower;
  grid-column: 23 / span 2;
}
[id="A5"] {
  @extend %key-lower;
  grid-column: 25 / span 2;
}
[id="B5"] {
  @extend %key-lower;
  grid-column: 27 / span 2;
}
[id="C6"] {
  @extend %key-lower;
  grid-column: 29 / span 2;
}
// placing upper/black/half keys
[id="C#4"] {
  @extend %key-upper;
  grid-column: 2 / span 2;
}
[id="D#4"] {
  @extend %key-upper;
  grid-column: 4 / span 2;
}
[id="F#4"] {
  @extend %key-upper;
  grid-column: 8 / span 2;
}
[id="G#4"] {
  @extend %key-upper;
  grid-column: 10 / span 2;
}
[id="A#4"] {
  @extend %key-upper;
  grid-column: 12 / span 2;
}
[id="C#5"] {
  @extend %key-upper;
  grid-column: 16 / span 2;
}
[id="D#5"] {
  @extend %key-upper;
  grid-column: 18 / span 2;
}
[id="F#5"] {
  @extend %key-upper;
  grid-column: 22 / span 2;
}
[id="G#5"] {
  @extend %key-upper;
  grid-column: 24 / span 2;
}
[id="A#5"] {
  @extend %key-upper;
  grid-column: 26 / span 2;
}

.midi-component {
  display: none;
}
